<!doctype html>
<html lang="en">
{% load assets % }
{% load humanize %}

<head>
	<title>나의 신규 리스트 | 대출 업무 관리 시스템</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">


</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
	   <!-- NAVBAR -->
	   <nav class="navbar navbar-default navbar-fixed-top">
		  <div class="brand">
			 <a href={% url 'home' %}><img src="/assets/img/title7.png" alt="Klorofil Logo" class="img-responsive logo"></a>
		  </div>
		  <div class="container-fluid">
			 <div class="navbar-btn">
				<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
			 </div>
			 <form class="navbar-form navbar-left">
				<!--<div class="input-group">
				   <input type="text" value="" class="form-control" placeholder="Search dashboard...">
				   <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
				</div>-->
			 </form>
			 <div class="navbar-btn navbar-btn-right">
				<a class="btn btn-success update-pro" href={% url 'logout' %} title="로그아웃" target="_blank"> <span>로그아웃</span></a>
			 </div>
			 <div id="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
				   <!--<li class="dropdown">
					  <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
						 <i class="lnr lnr-alarm"></i>
						 <span class="badge bg-danger">5</span>
					  </a>
					  <ul class="dropdown-menu notifications">
						 <li><a href="#" class="notification-item"><span class="dot bg-warning"></span><th>{{ work.customer_id }} </th></a></li>
						 <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>zz</a></li>
						 <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
						 <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
						 <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
						 <li><a href="#" class="more">See all notifications</a></li>
					  </ul>
				   </li>-->
				   <li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
					  <ul class="dropdown-menu">
						 <li><a href="#">Basic Use</a></li>
						 <li><a href="#">Working With Data</a></li>
						 <li><a href="#">Security</a></li>
						 <li><a href="#">Troubleshooting</a></li>
					  </ul>
				   </li>
				   <li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/img/byul.png" class="img-circle" alt="Avatar"> 
						 <span> <strong>{{request.session.emp_name}}</strong> 대리님, 안녕하세요! </span>
						 <!--<i class="icon-submenu lnr lnr-chevron-down"></i>--></a>
					  <ul class="dropdown-menu">
						 <li><a href="#"><i class="lnr lnr-user"></i> <span>{{Worksheet_list.emp_name}}</span></a></li>
						 <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
						 <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
						 <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
					  </ul>
				   </li>
				   <!-- <li>
					  <a class="update-pro" href={% url 'logout' %} title="로그아웃" target="_blank"><i class="fa fa-rocket"></i> <span>로그아웃</span></a>
				   </li> -->
				</ul>
			 </div>
		  </div>
	   </nav>
	   <!-- END NAVBAR -->
	   <!-- LEFT SIDEBAR -->
	   <div id="sidebar-nav" class="sidebar">
		  <div class="sidebar-scroll">
			 <nav>
				<ul class="nav">
 
						 <li><a href="{% url 'home' %}"class=""><i class="lnr lnr-home"></i> <span> 메인화면 </span></a></li>
				   <li><a href="{% url 'worksheetcreate'%}" class=""><i class="lnr lnr-pencil"></i> <span>신규 대출 등록</span></a></li>
						 <li><a href="{% url 'worksheet'%}" class="active"><i class="lnr lnr-user"></i> <span>나의 신규 리스트</span></a></li>
				   <li><a href="{% url 'totalworksheet'%}" class=""><i class="lnr lnr-inbox"></i> <span>지점 전체 신규 리스트</span></a></li>
				   <li><a href="{% url 'charts'%}" class=""><i class="lnr lnr-chart-bars"></i> <span>실적현황</span></a></li>
				   <li><a href="{% url 'virtualbanksystem'%}" class=""><i class="lnr lnr-cog"></i> <span>가상계정단말</span></a></li>
				   
				   <!-- <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
				   <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li> -->
 
 
				   <!--<li>
					  <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
					  <div id="subPages" class="collapse ">
						 <ul class="nav">
							<li><a href="page-profile.html" class="">Profile</a></li>
							<li><a href="page-login.html" class="">Login</a></li>
							<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
						 </ul>
					  </div>
				   </li>-->
				   <!-- <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li> -->
				</ul>
			 </nav>
		  </div>
	   </div>

		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">나의 신규 리스트</h3>
							<!-- BORDERED TABLE -->


        
<div class="row">
    <div class="col-md-12">
        <div class = "panel">
            <div class = "panel-heading">
                <h3 class="panel-title">2021년 11월</h3>
            </div>
        <div class="panel-body">
            <table class="table table-bordered">	
                <thead>
                    <tr>
                        <th scope="col">#</th> 
                        <th scope="col">담당자</th>
                        <th scope="col">고객번호</th>
                        <th scope="col">고객명</th>
                        <th scope="col">신규예정일</th>
                        <th scope="col">대출상품</th>
                        <th scope="col">대출금액</th>
                        <th scope="col">진행척도</th>
                        <th scope="col">상환조건여부</th>    
                        <th scope="col">등록날짜</th>
                    </tr>
            </thead>
            <tbody class="text-dark">
				{% for work in datas %}
					{% if work.emp_name == request.session.emp_name %} 
					<tr>
						<th>{{ work.id }}</th>
						<th>{{ work.emp_name }}</th>
						<th>{{ work.customer_id }} </th>
						<th><a href="/worksheet/detail/{{ work.id }}">{{ work.customer_name }}</th>
						<th>{{ work.loan_start_date|date:'Y-m-d'}}</th>
						<th> {{work.loan_product}}</th>             
						<th> {{ work.loan_amount|intcomma}}원 </th>
						<th>  <h4> <span class="label label-success">{{work.process_step}}</span> </h4> </th>
						<th> 
							<label class="control-inline fancy-checkbox">
								   Y    <input type="checkbox">    <span></span>
							</label></th>
						<th>{{ work.register_date|date:'Y-m-d'}}</th>
						
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
          </table>
		  <!-- 페이징처리 시작 -->
			<ul class="pagination justify-content-center">
				<!-- 이전페이지 -->
				{% if work_list.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ work_list.previous_page_number }}">이전</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
				</li>
				{% endif %}
				<!-- 페이지리스트 -->
				{% for page_number in work_list.paginator.page_range %}
					{% if page_number == work_list.number %}
					<li class="page-item active" aria-current="page">
						<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
					</li>
					{% endif %}
				{% endfor %}
				<!-- 다음페이지 -->
				{% if work_list.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ work_list.next_page_number }}">다음</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
				</li>
				{% endif %}
			</ul>
			<!-- 페이징처리 끝 -->
          </div>
        </div>
        
    </div>
  </div>

 